* {
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

/* navbar section */
header {
  display: flex;
  padding: 5px 60px;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-bottom: solid 3px black;
}
.navbar {
  display: flex;
  column-gap: 20px;
  list-style: none;
}

ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 800;
  color: black;
}
.active {
  color: pink;
}
.logo {
  font-size: 20px;
  font-weight: 800;
}
.books_container {
  margin-top: 30px;
  display: none;
}
.books_container h1 {
  text-align: center;
  padding: 10px;
}

main {
  position: absolute;
  background-color: beige;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 90px);
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
}

table {
  border: solid 1px #ddd;
  border-radius: 6px;
  margin-bottom: 20px;
}

.line_hd {
  background-color: rgb(100, 101, 105);
  color: white;
}

.line_hd:hover {
  background-color: #04aa6d;
}

table tr {
  display: grid;
  grid-template-columns: 200px 200px 100px;
  justify-items: left;
  padding: 6px 20px 3px 10px;
  height: 20px;
}

tr:hover {
  background-color: #e0c5c57a;
}

table tr:nth-child(even) {
  background-color: rgba(128, 128, 128, 0.411);
}

#add_book {
  display: none;
  width: 20%;
  margin-top: 30px;
  text-align: center;
}

input {
  width: 80%;
  margin: 10px auto;
  height: 13px;
  border-radius: 5px;
  display: block;
  padding: 8px;
  font-size: 16px;
}

form > button {
  width: 60px;
  height: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.btn:hover {
  cursor: pointer;
  background-color: orange;
}

/***  Contact Section  ***/
.contact-us {
  visibility: hidden;
  background-color: beige;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 90px);
  justify-content: flex-start;
  align-items: center;
}

.contact-us h2 {
  padding: 40px 0;
}

.contact-us p {
  padding-bottom: 20px;
}

.contact-us ul {
  padding-left: 60px;
}

/***  Footer Section  ***/
footer {
  bottom: 0%;
  width: 100%;
  text-align: left;
  height: 40px;
  font-weight: 800;
  border-top: solid 2px black;
  padding-top: 5px;
  padding-left: 60px;
}
